.wrapper {
    text-align: left;
    width: 700px;
    margin: 0 0 0 40px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    background: #ffefcc;
    color: #4c4c4c;
    border-radius: 10px;
    width: 300px;
    height: 100%;
}

.item:first-child {
    margin-top: 0;
}

.itemContentWrapper {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.text {
    font-size: 15px;
    margin-bottom: 15px;
}

.inputTextBlock {
    display: flex;
    align-items: center;
}

.inputTextBlock span {
    width: 220px;
    word-wrap: break-word;
}

.doneLabel {
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.inputWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.input {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 6px;
}

.delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}

.notDone {
    color: #8e8e8e;
}

.notToDoInput {
    opacity: .5;
}

.textAndMenuWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.menuWrapper {
    position: relative;
}

.menu {
    background: #fff;
    width: 60px;
    /* text-align: center; */
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: -20px;
}

.showingMenuTrigger {
    cursor: pointer;
}

.db {
    display: block;
}

.deleteTrigger {
    cursor: pointer;
}
