.menu {
    text-align: left;
    margin: 20px 0 20px 40px;
}

.add {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.plus {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
